.header__button {
    width: 34px;
    height: 34px;
    background-color: transparent;
    background-image: url('/src/images/menu-button.png');
    border: none;
    padding: 0;
    cursor: pointer;
        justify-self: end;

}

@media (max-width: 620px) {
    .header__button {
        grid-row: 1/3;
    }
}