@import url('../styles/normalize.css');
@import url('../styles/header/header.css');
@import url('../styles/header/__menu/header__menu.css');
@import url('../fonts/fonts.css');
@import url('../styles/header/__subtitle/header__subtitle.css');
@import url('../styles/header/__title/header__title.css');
@import url('../styles/title/title.css');
@import url('../styles/main-content/__title/main-content__title.css');
@import url('../styles/main-content/main-content.css');
@import url('../styles/articles/articles.css');
@import url('../styles/articles/__item/articles__item.css');
@import url('../styles/articles/__list/articles__list.css');
@import url('../styles/articles/__description/articles__description.css');
@import url('../styles/articles/__title/articles__title.css');
@import url('../styles/articles/__link/articles__link.css');
@import url('../styles/glossary/glossary.css');
@import url('../styles/glossary/__title/glossary__title.css');
@import url('../styles/glossary/__term/glossary__term.css');
@import url('../styles/glossary/__terms-list/glossary__terms-list.css');
@import url('../styles/footer/footer.css');
@import url('../styles/header/__button/header__button.css');
@import url('../styles/popup/popup.css');
@import url('../styles/popup/__definition/popup__definition.css');
@import url('../styles/popup/__term/popup__term.css');
@import url('./overlay/overlay.css');
@import url('./hidden/hidden.css');
@import url('./header/__link/header__link.css');
@import url('./header/__menu/_active/header__menu_active.css');
@import url('./close-button/close-button.css');
@import url('./menu-open/menu-open.css');


:root {
  --color-primary: ;
}
  
  body {
    background-color: var(--color-primary);
    color: #000000;
    font-family: 'JetBrainsMono';
  }
