.header__menu {
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: #E7E6F3;
    height: 100vh;
    width: 33vw;
    z-index: 1000;
    font-size: 27px;
    padding: 40px;
    transition: right 0.3s ease;
}

@media (max-width: 950px){
    .header__menu{
        width: 50vw;
    }
}

@media (max-width: 500px){
    .header__menu{
        width: 100vw;
    }
}