.header__title{
    text-transform: uppercase;
    color: #1F188B;
    font-size: clamp(1.5625rem, 1.2946rem + 1.3393vw, 2.5rem);
    font-weight: 400;
    justify-self: center;
}

@media (max-width: 620px) {
    .header__title {
        grid-row: 2;
        justify-self: start;
    }
}